<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true"
                     xmlns:log4j='http://jakarta.apache.org/log4j/'>

   <appender name="CA" class="org.apache.log4j.ConsoleAppender">
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{HH:mm:ss,SS} %5p %c{1} - %m%n"/>
      </layout>
   </appender>

   <appender name="FA" class="org.apache.log4j.RollingFileAppender">
      <param name="append" value="true"/>
<!--       <param name="file" value="target/log/log4j.log"/> -->
      <param name="MaxFileSize" value="500KB"/>
      <param name="encoding" value="UTF-8" />
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
      </layout>
   </appender>

    <category name="de.nx42" additivity="true">
        <priority value="DEBUG" />
    </category>

    <root>
        <level value="INFO" />
        <appender-ref ref="CA" />
        <appender-ref ref="FA" />
    </root>

</log4j:configuration>